<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="api_url" value="http://www.purpleair.com/json?show=" />    
    <add key="aqi_station" value="8084"/>
    <!--CARB_SMOKE_EDC AQMD Cameron Park-->
    <add key="timezone" value="-8" />
    <!-- standard time, not DST -->
    <add key="datapath" value=""/>
  </appSettings>
</configuration>